## Ignore latex/pdflatex auxiliary files:
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
#*.out
*.url
*.svn
*.toc

*/__pycache__/
*.pyc

config.py

/data/Dexcom/*.csv
/data/Dexcom/*.xlsx
/data/Dexcom/drop/*
/data/Dexcom/export/*
/data/Dexcom/timezone/*.csv

/data/_archive/LibreView/clean/*
/data/_archive/LibreView/raw_anonymous/*
/data/_archive/LibreView/raw/*
/data/_archive/LibreView/_bin/*
/data/_archive/Dexcom/_archive/*
/data/_archive/Dexcom/_backup/*

/data/TrainingPeaks/export/*
/data/TrainingPeaks/2019/glucose/*
/data/TrainingPeaks/2019/timezone/*
/data/TrainingPeaks/2019/clean3/*
/data/TrainingPeaks/2019/clean2/*
/data/TrainingPeaks/2019/clean/*
/data/TrainingPeaks/2019/combine/*
/data/TrainingPeaks/2019/csv/*
/data/TrainingPeaks/2019/fit/*
/data/TrainingPeaks/2019/raw_anonymous/*
/data/TrainingPeaks/2019/raw/*
/data/TrainingPeaks/2019/_bin/*

/data/_archive/TrainingPeaks/2020/clean2/*
/data/_archive/TrainingPeaks/2020/clean/*
/data/_archive/TrainingPeaks/2020/combine/*
/data/_archive/TrainingPeaks/2020/csv/*
/data/_archive/TrainingPeaks/2020/fit/*
/data/_archive/TrainingPeaks/2020/raw_anonymous/*
/data/_archive/TrainingPeaks/2020/raw/*
/data/_archiveTrainingPeaks/2020/_bin/*

/data/TrainingPeaks+Dexcom/*.csv
/data/TrainingPeaks+Dexcom/_bin/*
/data/TrainingPeaks+Dexcom/_backup/*
/data/TrainingPeaks+Dexcom/timezone/*

/data/_archive/TrainingPeaks+LibreView/resample_1min/*
/data/_archive/TrainingPeaks+LibreView/1sec/*
/data/_archive/TrainingPeaks+LibreView/raw/*
/data/_archive/TrainingPeaks+LibreView/_bin/*

/data/CampCalifornia/*

/data/calendar/*.csv
/data/calendar/*.xls

/data/fitness/fitness_analysis_2019_anonymous.csv
/data/fitness/TEST ANALYSIS Dec_2018.xlsx

/data/info/*

/data/_archive/*

/data_final/*.csv
/data_final/*.xls
