## Ignore latex/pdflatex auxiliary files:
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc

*/__pycache__/
*.pyc

.~lock.*

*.yml
dexcom_id.csv

/data_final/*.csv
/data_final/*.xls

/lib/*
